<?xml version="1.0"?>
<!--
/**
 * Magenizr AdminBranding
 *
 * @category    Magenizr
 * @package     Magenizr_AdminBranding
 * @copyright   Copyright (c) 2021 Magenizr (https://agency.magenizr.com)
 * @license     https://www.magenizr.com/license Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin>
            <magenizr_adminbranding>
                <enabled>0</enabled>
                <magento_admin_login_logo_file_enabled>0</magento_admin_login_logo_file_enabled>
                <magento_admin_menu_logo_file_enabled>0</magento_admin_menu_logo_file_enabled>
                <magento_adminlogin_additional_text_enabled>0</magento_adminlogin_additional_text_enabled>
                <magento_adminlogin_additional_text><![CDATA[Implemented by <a href="https://www.yourcompany.tld">Your Company Ltd.</a>]]></magento_adminlogin_additional_text>
            </magenizr_adminbranding>
        </admin>
    </default>
</config>
